/* css form */
.form-flex {
    width: 500px;
    height: 500px;
    display: flex;
    border: 1px solid #dadada;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    margin: auto;
    margin-top: 30px;
    flex-direction: column;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;

}
/* phần header */
.header {
    height: 60px;

}


/* phần nhập thông tin */
.main {
    height: 300px;
    display: flex;
    gap: 30px;
    
}
.main-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    
}
.main-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}
.main-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main-group input{
    height: 36px;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 0 16px; 
}
.main-group input:focus{
    outline: transparent;
}
.main-group select{
    height: 36px;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: auto; 
}
.main-group .radio{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* phần gửi thông tin */
.footer {
    display: flex;
    flex-direction: column;
}
.footer hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 99%;

}
.button-group{
    display: flex;
    justify-content: end;
    gap: 10px;
}
.button {
    height: 36px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid #dadada;
    cursor: pointer;
}
.button:hover{
   background-color: chartreuse;
   opacity: 0.5;
}
